/* Header  section style for Mobile 320px Layout */

header {
    color: #060A24;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    /* Logo and navigation icon properties */
    .logo, .iconnav {
        width: 24px;
        height: 24px;
        margin: 10px 16px;
    }

    /* drop-down menu operation */
    nav, 
    #toggle,
    i.fa-close,
    #toggle:checked + .iconnav i.fa-navicon{
        display: none;
    }

    #toggle:checked + .iconnav + nav,
    #toggle:checked + .iconnav i.fa-close {
        display: initial;
    }

    /* drop-down menu properties */
    nav {
        padding: 0;
        width: 100vw;
        background: #0000EC;
        height: 224px;
        // z-index: 1;
              
        ul {
            list-style-type: none;
            height: 100%;
        }
        
        ul li {
            margin: 24px 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        li a {
            text-decoration: none;
            font-size: 16px;
            line-height: 28px;
            color: #FFFFFF;
        }
    }  
}

/* Header style for Tablet 768px Layout */

@media screen and (min-width: 768px) {

    .iconnav label i.fa-navicon,
    .iconnav label i.fa-close,
    #toggle:checked + .iconnav label i.fa-close {
        display: none;
    }

    header {
        box-sizing: border-box;
        padding: 22px 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .logo {
            margin: 0;
            padding: 0;
            width: 36px;
            height: 36px;

            img{
                height: 36px;
            }
        }

        nav {
            display: initial;
            background: #FFFFFF;
            height: 80px;

            ul{
                display: flex;
                justify-content: flex-end;
                align-items: center;

                li{
                    margin-left: 48px;

                    a{
                        color: #060A24;
                    }
                }
            }

            a:hover{
                color: #00F3BB;
                text-decoration: line-through;
            }

            a:active {
                color:rgba(6,10,36,0.56);
                text-decoration: line-through;
            }
        }
    }
}

/* Header style for Desktop 1024px Layout */

@media screen and (min-width: 1024px) {
    header {
        padding: 22px 100px;
    }
}





